name: first workflow
on: push

jobs:
  job1:
    build:
      runs-on: windows-latest
      steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
  job2:
  build:
    runs-on: ubuntu-latest
    steps:
      -uses: actions/checkout@v2
      -name: Run a one-line script
      name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.